[submodule "BESS-TelemetryInterface"]
	path = BESS-TelemetryInterface
	url = https://github.com/Dani-2TB/BESS-TelemetryInterface.git
	branch = dev
[submodule "BESS-Docker-Environment"]
	path = BESS-Docker-Environment
	url = https://github.com/Dani-2TB/BESS-Docker-Environment
	branch = dev
